.nav-container {
    display: grid;
    place-items: center;
}

.nav {
    background-color: var(--mud-palette-primary);
    overflow: hidden;
    position: fixed;
    bottom: 16px;
    width: 100%;
    max-width: 240px;
    height: 48px;
    box-shadow: var(--mud-elevation-8);
    border-radius: 24px;
    display: flex;
    overflow-x: hidden;
    z-index: var(--mud-zindex-appbar);
}

.nav-link {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 30px;
    overflow: hidden;
    white-space: nowrap;
    font-family: var(--mud-typography-button-family);
    font-size: var(--mud-typography-button-size);
    font-weight: var(--mud-typography-button-weight);
    color: #D0D0D0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.1s ease-in-out;
}

    .nav-link:hover {
        transform: scale(1.2);
    }

.nav-link-active {
    color: var(--mud-palette-primary-text);
}
